%h1 Listing events

%table
  %thead
    %tr
      %th Name
      %th Start date
      %th End date
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.start_date
        %td= event.end_date
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br
%ul
  - @calendar_list&.items&.each do |calendar|
    %li
      = calendar.summary
      (#{calendar.id})
      = link_to "show_events", fetch_events_path(calendar_id: calendar.id)
      = link_to 'New Event', new_event_path(calender_id: calendar.id)
