!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EventManager
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - if current_user.present?
      = button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-danger"
      = link_to "#{session[:authorization].present? ? 'Connected with google' : 'Connect with google api'}", google_index_path, class: "btn btn-success"
    -if  flash[:notice].present?
      .alert.alert-primary{:role => "alert"}
        = flash[:notice]
    - if flash[:alert].present?
      .alert.alert-danger{:role => "alert"}
        = flash[:alert]
    = yield
